---
title: 下载 CP Editor
linkTitle: 下载
menu:
  main:
    weight: 50
---

<link rel="stylesheet" href="/css/style.css">

<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.14/vue.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/filesize/6.4.0/filesize.min.js"></script>
<script src="/js/download.js"></script>

<style>
    [v-cloak] {
        display: none;
    }
</style>

<div id="app">
    <div class="download-wrapper">
    <div class="download-hero">
        <div class="container">
            <h1>在你的计算机上获取 CP Editor</h1>
            <p v-cloak v-if="latestStableAssetForUserPlatform">
                你可能想要
                <a :href="latestStableAssetForUserPlatform.browser_download_url">在 {{ userPlatform }} 上的最新稳定版本</a>。
            </p>
            <p v-cloak v-else>选择你的平台和版本来开始下载。</p>
        </div>
    </div>

    <div class="download-container">
        <div class="container">
            <div class="download-row">
                <div class="download-info">
                    <h2>安装选项</h2>
                    <ul>
                        <li><a href="../docs/installation">安装说明</a></li>
                        <li><a href="https://github.com/cpeditor/cpeditor/releases" target="_blank">浏览所有版本</a></li>
                        <li><a href="https://aur.archlinux.org/packages/cpeditor" target="_blank">Arch Linux (AUR)</a></li>
                        <li><a href="https://snapcraft.io/cpeditor" target="_blank">Snap Store</a></li>
                        <li><a href="https://gitee.com/ouuan/cpeditor/releases" target="_blank">Gitee 镜像</a></li>
                        <li><a href="https://hub.fastgit.xyz/cpeditor/cpeditor/releases" target="_blank">FastGit 镜像</a></li>
                    </ul>
                </div>
                <div v-cloak class="download-form">
                    <h3 v-if="releases.length === 0" class="loading-text">加载中...</h3>
                    <h3 v-else-if="!selectedAsset" class="text-warning">找不到可下载的文件</h3>
                    <template v-else>
                        <h3>下载 CP Editor</h3>
                        <div class="form-group">
                            <label for="platform">平台</label>
                            <select id="platform" v-model="selectedPlatform">
                                <option v-for="platformOption in platformOptions">{{ platformOption }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="release">版本</label>
                            <select id="release" v-model="selectedRelease">
                                <template v-for="release in releases" :key="release.tag_name">
                                    <option :value="release">
                                        v{{ release.tag_name }}
                                        <span v-if="release === latestStableRelease">（最新稳定版）</span>
                                        <span v-else-if="release === releases[0]">（最新测试版）</span>
                                    </option>
                                </template>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="asset">下载项</label>
                            <select id="asset" v-model="selectedAsset">
                                <template v-for="asset in selectedRelease.assets" :key="asset.id">
                                    <option v-if="isAssetSuitableForPlatform(asset, selectedPlatform)" :value="asset">
                                        {{ asset.name }} ({{ filesize(asset.size, { precision: 3 }) }})
                                    </option>
                                </template>
                            </select>
                        </div>
                        <a :href="selectedAsset.browser_download_url"
                            :disabled="selectedAsset.browser_download_url === undefined"
                            class="download-btn">下载</a>
                    </template>
                </div>
            </div>
        </div>
    </div>
</div></div>
