---
title: Скачать CP Editor
linkTitle: Скачать
menu:
  main:
    weight: 50
---

<script src="https://cdn.jsdelivr.net/npm/vue@2.6/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/filesize@6.4"></script>
<script src="/js/download.js"></script>

<style>
    [v-cloak] {
        display: none;
    }
</style>

<div id="app" v-cloak>
    <section class="row td-box td-box--1 position-relative td-box--gradient td-box--height-auto">
        <div class="container text-center td-arrow-down">
            <span class="h4 mb-0">
                <h1>Установи и попробуй CP Editor!</h1>
                <p v-if="latestStableAssetForUserPlatform" class="pt-3">
                   Скорее всего вам нужна 
                    <a class="text-light" :href="latestStableAssetForUserPlatform.browser_download_url"
                       v-on:click="latestStableEvent">
                        последняя стабильная версия для {{ userPlatform }}
                    </a>.
                </p>
            </span>
        </div>
    </section>

    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-6 text-center">
		<h2>Выберите платформу и версию, которую вы хотите скачать</h2>
                <ul class="list-group pt-2">
                    <li class="list-group-item"><a href="../docs/installation">Инструкции для установки</a></li>
                    <li class="list-group-item">
                        <a href="https://github.com/cpeditor/cpeditor/releases" target="_blank">Все версии</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <h2 v-if="releases.length === 0">Загрузка...</h2>
                <h2 v-else-if="!selectedAsset" class="text-warning">Необходимый файл не найден</h2>
                <template v-else>
                    <div class="form-group">
                        <label for="platform">Платформа</label>
                        <select class="form-control" id="platform" v-model="selectedPlatform">
                            <option v-for="platformOption in platformOptions">{{ platformOption }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="release">Версия</label>
                        <select class="form-control" id="release" v-model="selectedRelease">
                            <template v-for="release in releases" :key="release.tag_name">
                                <option :value="release">
                                    v{{ release.tag_name }}
                                    <span v-if="release === latestStableRelease">(Последняя стабильная)</span>
                                    <span v-else-if="release === releases[0]">(Последняя бета)</span>
                                </option>
                            </template>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="asset">Файл</label>
                        <select class="form-control" id="asset" v-model="selectedAsset">
                            <template v-for="asset in selectedRelease.assets" :key="asset.id">
                                <option v-if="isAssetSuitableForPlatform(asset, selectedPlatform)" :value="asset">
                                    {{ asset.name }} ({{ filesize(asset.size, { precision: 3 }) }})
                                </option>
                            </template>
                        </select>
                    </div>
                    <a :href="selectedAsset.browser_download_url"
                        :disabled="selectedAsset.browser_download_url === undefined"
                        class="btn btn-primary btn-block my-4"
                        v-on:click="downloadEvent">Скачать</a>
                </template>
            </div>
        </div>
    </div>
</div>
