---
title: Скачать CP Editor
linkTitle: Скачать
menu:
  main:
    weight: 50
---

<link rel="stylesheet" href="/css/style.css">

<script src="https://cdn.jsdelivr.net/npm/vue@2.6/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/filesize@6.4"></script>
<script src="/js/download.js"></script>

<style>
    [v-cloak] {
        display: none;
    }
</style>

<div id="app">
    <div class="download-wrapper">
    <div class="download-hero">
        <div class="container">
            <h1>Установи CP Editor</h1>
            <p v-cloak v-if="latestStableAssetForUserPlatform">
                Скорее всего вам нужна
                <a :href="latestStableAssetForUserPlatform.browser_download_url">последняя стабильная версия для {{ userPlatform }}</a>.
            </p>
            <p v-cloak v-else>Выберите платформу и версию ниже.</p>
        </div>
    </div>

    <div class="download-container">
        <div class="container">
            <div class="download-row">
                <div class="download-info">
                    <h2>Варианты установки</h2>
                    <ul>
                        <li><a href="../docs/installation">Инструкции для установки</a></li>
                        <li><a href="https://github.com/cpeditor/cpeditor/releases" target="_blank">Все версии на GitHub</a></li>
                    </ul>
                </div>
                <div v-cloak class="download-form">
                    <h3 v-if="releases.length === 0" class="loading-text">Загрузка...</h3>
                    <h3 v-else-if="!selectedAsset" class="text-warning">Необходимый файл не найден</h3>
                    <template v-else>
                        <h3>Скачать CP Editor</h3>
                        <div class="form-group">
                            <label for="platform">Платформа</label>
                            <select id="platform" v-model="selectedPlatform">
                                <option v-for="platformOption in platformOptions">{{ platformOption }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="release">Версия</label>
                            <select id="release" v-model="selectedRelease">
                                <template v-for="release in releases" :key="release.tag_name">
                                    <option :value="release">
                                        v{{ release.tag_name }}
                                        <span v-if="release === latestStableRelease">(Последняя стабильная)</span>
                                        <span v-else-if="release === releases[0]">(Последняя бета)</span>
                                    </option>
                                </template>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="asset">Файл</label>
                            <select id="asset" v-model="selectedAsset">
                                <template v-for="asset in selectedRelease.assets" :key="asset.id">
                                    <option v-if="isAssetSuitableForPlatform(asset, selectedPlatform)" :value="asset">
                                        {{ asset.name }} ({{ filesize(asset.size, { precision: 3 }) }})
                                    </option>
                                </template>
                            </select>
                        </div>
                        <a :href="selectedAsset.browser_download_url"
                            :disabled="selectedAsset.browser_download_url === undefined"
                            class="download-btn">Скачать</a>
                    </template>
                </div>
            </div>
        </div>
    </div>
</div></div>
