name: "Build Test"

on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Fetch submodules
        run: git submodule update --init --recursive
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: "13.x"
      - run: npm install
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "0.69.2"
          extended: true
      - name: Pre-merge
        run: |
          git checkout ${{ github.base_ref }}
          git merge ${{ github.head_ref }} -m "merge"
      - name: Build Site
        run: HUGO_ENV=production ./build.sh
      - name: Check links
        id: check-links
        uses: peter-evans/link-checker@v1
        with:
          args: -r dist -d dist -x "https?:\/\/"
      - name: Fail on link errors
        run: exit ${{ steps.check-links.outputs.exit_code }}
