name: "Build Test"

on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Fetch submodules
        run: git submodule update --init --recursive
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: "13.x"
      - run: npm install
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "0.69.2"
          extended: true
      - name: Build Site
        run: |
          git config core.quotePath false
          HUGO_ENV=production hugo --minify
      - name: Check links
        uses: wjdp/htmltest-action@11acebff5338acdc9363f2a5e4fc0a84f96da64e
        with:
          skip_external: true
