name: "Deploy"

on:
  workflow_dispatch:
  push:
    branches:
      - hugo

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          submodules: recursive
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: "14.x"
      - run: npm install
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "0.80.0"
          extended: true
      - name: Build Site
        run: HUGO_ENV=production ./build.sh
      - name: Check links
        id: check-links
        uses: peter-evans/link-checker@v1
        with:
          args: -r dist -d dist -x "https?:\/\/"
      - name: Fail on link errors
        run: exit ${{ steps.check-links.outputs.exit_code }}
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: master
          commit_message: ${{ github.event.head_commit.message }}
