name: "Check Markdown Format"

on: [push, pull_request]

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup Node
      uses: actions/setup-node@v2.1.5
      with:
        node-version: '13.x'
    - run: npm install
    - run: npm run lint
    - name: Check diff
      run: git diff --exit-code ${{ github.sha }}
    - name: Create Pull Request
      if: failure()
      uses: peter-evans/create-pull-request@v3.8.2
      with:
        commit-message: "style: Format Markdown files"
        title: "Format Markdown files for ${{ github.ref }}"
        labels: "style"
        assignees: "${{ github.actor }}"
        reviewers: "${{ github.actor }}"
        branch: 'auto-pr/remark-lint/${{ github.ref }}'
